.container {
  padding: 0 2rem;
  background-color:#F6F6F6;
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: #2B2B2B;
  
}


.subtitle {
  margin: 1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
  
  color: #2B2B2B;
  
}

.specsSubtitle{
  font-family: 'Montserrat';
  display: flex;
  align-content: center;
  background: #F9F9F9;
}

.specsChild {
  margin-left: 1rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
}



/* .specsbutton{
  margin-left: .7rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.06em;
  background-color: #FFFFFF;
  border: none; 
} 
*/
.lineDescription {
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-style: 900;
  font-weight: 400;
  font-size: .8rem;
  line-height: size;
  letter-spacing: 0.06em;
  color: #787878;
}

.description {
  margin: 1rem;
  font-family: 'Montserrat';
  font-style: 900;
  font-weight: 400;
  font-size: .8rem;
  line-height: size;
  letter-spacing: 0.06em;
  color: #787878;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}



.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* .wrapper {
  position: absolute;
  min-height: 100vh;
} */

.randomWodButton{
  top: 15rem;
  position: relative;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.rehabWodButton{
  margin-top: .5rem;
  background-color: #FFFFFF; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar{
  position: relative;
  background-color: #ffffff;
  background: #FFFFFF;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); */
  }

.navbarTitle{
  /* position: relative;   */
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.0rem;
  margin: .4rem;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: #2B2B2B;
}


.infocard{
  position: absolute;
  top: 5rem;
  left: 2rem;
  right: 2rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.pill{
  display: inline-block;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;
  background: #E0E0E0;
  border-radius: 100px;
  border: none;
}

.levels{
  display: flex;
  justify-content: space-between;
}
